Repository WithHolm/polyenv, changes with the labels that .github/labeler.yml gives for each.
All labels: configuration, documentation, vault, cmd, go, vendor, tools, test, ci

upd to use CI env when buiolding to get correct info
  .github/workflows/push_to_dev.yml
Labels: ci

upd to setup go
  .github/workflows/push_to_dev.yml
Labels: ci

upd push to dev
  .github/workflows/push_to_dev.yml
  .goreleaser.yaml
Labels: ci

upd goreleaser.. mabye right flag for buildvcs?
  .goreleaser.yaml
Labels: ci

setting correct flag for buildvcs
  .goreleaser.yaml
Labels: ci

upd with correct goreleaser with vcs flag
  .goreleaser.yaml
Labels: ci

upd changelog fragment
  .github/pull_request_template.md
  .github/workflows/changelog-fragmet-creator.yml
Labels: documentation, ci

upd cmd
  cmd/current-env.go
  cmd/current-pull.go
  cmd/current.go
  cmd/init.go
  cmd/status.go
Labels: cmd, go

upd demos
  docs/demos/add-secret.gif
  docs/demos/add-secret.tape
  docs/demos/add-vault.gif
  docs/demos/checksums.json
  docs/demos/generate-demos.ps1
  docs/demos/init.gif
Labels: documentation

upd polyenvfile
  internal/polyenvfile/func.go
  internal/polyenvfile/main.go
  internal/polyenvfile/tui.go
Labels: go

upd tools and devvault
  internal/tools/file.go
  internal/vaults/devvault/main.go
Labels: vault, go, tools

upd
  .goreleaser.yaml
  README.md
  scripts/polyenv.ps1
  test.tldr
Labels: documentation, ci

upd demos
  docs/demos/add-secret.gif
  docs/demos/add-vault.gif
  docs/demos/add-vault.tape
  docs/demos/checksums.json
  docs/demos/generate-demos.ps1
  docs/demos/init.gif
  docs/demos/init.tape
Labels: documentation

upd ignore
  .gitignore
Labels: configuration

upd code
  internal/polyenvfile/tui.go
  internal/tools/file.go
Labels: go, tools

upd env output switch
  .github/workflows/create-cl-fragments-from-pr.yml
  .github/workflows/create-cl-from-fragments.yml
  cmd/current-env.go
Labels: cmd, go, ci

fix run continuation when vault is defined, but wrong
  cmd/init.go
Labels: cmd, go

upd checker for selected vault
  cmd/current-add.go
Labels: cmd, go

upd feedback when listenvironments fail
  cmd/current.go
Labels: cmd, go

fixed issue where all secret references got listed for each vault
  cmd/status.go
Labels: cmd, go

keyvault: fix list check that ignored keys that had missing content type
  internal/vaults/keyvault/list.go
Labels: vault, go

fix keyvault once code
  internal/vaults/keyvault/keyvault.go
  internal/vaults/keyvault/list.go
  internal/vaults/keyvault/pull.go
  internal/vaults/keyvault/push.go
Labels: vault, go

changed behavoir of logonce
  internal/vaults/registry.go
Labels: vault, go

fix typo
  cmd/current-env.go
Labels: cmd, go

upd fmt print for secret env output
  cmd/current-env.go
Labels: cmd, go

remove unneeded embed import
  cmd/current-env.go
Labels: cmd, go

fix pull error handling
  internal/vaults/keyvault/pull.go
Labels: vault, go

upd
  cmd/current-env.go
Labels: cmd, go

.github/labeler.yml:

# Label for changes in root configuration and metadata files
configuration:
  - '.gitignore'
  - 'go.mod'
  - 'go.sum'

# Label for changes in documentation files
documentation:
  - 'docs/**'
  - '**/*.md'

vault:
  - 'internal/vaults/**'

cmd:
  - 'cmd/**'

# Label for changes in source code
go:
  - '**/*.go'

#label for changes in vendor
vendor:
  - 'vendor/**'

# Label for specific tooling or scripts
tools:
  - 'internal/tools/**'

# Label for test and assets related changes
test:
  - '**/*_test.go'
  
# Label for GitHub workflows and configuration
ci:
  - '.github/**'
  - '.goreleaser.yaml'
