Repository WithHolm/polyenv, changes with the labels that .github/labeler.yml gives for each.
All labels: Configuration, Documentation, vault, cmd, go, vendor-changes, tools, test, ci

upd
  .github/workflows/all-test-and-lint.yml
Labels: ci

upd go mod version
  .github/workflows/all-test-and-lint.yml
  go.mod
Labels: Configuration, ci

upd
  .github/workflows/all-test-and-lint.yml
Labels: ci

upd fix start offix paths used for tests
  .github/workflows/all-test-and-lint.yml
Labels: ci

upd pr notes for #86
  changelog/current/86.md
Labels: Documentation

upd
  gemini.md
  go.mod
  makefile
  scripts/polyenv.ps1
Labels: Configuration, Documentation

add better err path
  cmd/current-pull.go
  cmd/current.go
Labels: cmd, go

upd secret value handling
  internal/model/secret.go
Labels: go

secr value handling
  internal/model/secret_test.go
  internal/model/vault.go
Labels: go, test

better tui, err handl, secr handling
  internal/polyenvfile/add_tui.go
  internal/polyenvfile/main.go
  internal/polyenvfile/main_test.go
  internal/polyenvfile/tui.go
Labels: go, test

upd name for test fixture
  internal/vaults/atestvault/main.go
Labels: vault, go

upd err ahndling, impl new secret handler
  internal/vaults/devvault/devvault.go
  internal/vaults/devvault/main_test.go
  internal/vaults/keyvault/keyvault.go
  internal/vaults/keyvault/keyvault_test.go
  internal/vaults/keyvault/pull.go
  internal/vaults/keyvault/push.go
  internal/vaults/keyvault/wiz.go
  internal/vaults/localvault/local.go
  internal/vaults/localvault/local_test.go
  internal/vaults/registry.go
  internal/vaults/vaulttest/main.go
Labels: vault, go, test

upd admin
  go.mod
  go.sum
  makefile
  report.md
Labels: Configuration, Documentation

upd.. refactor file handling. moving away from global singleton for file to standard /repo structure
  cmd/current-add.go
  cmd/current-export.go
  cmd/current.go
  ideas.md
  internal/model/file.go
  internal/polyenvfile/tui.go
  internal/storage/config.go
  internal/storage/dev_vault.go
  internal/storage/vault.go
  internal/storage/vault/atestvault/main.go
  internal/storage/vault/devvault/devvault.go
  internal/storage/vault/devvault/main_test.go
  internal/storage/vault/keyvault/arguments.go
  internal/storage/vault/keyvault/keyvault.go
  internal/storage/vault/keyvault/keyvault_test.go
  internal/storage/vault/keyvault/list.go
  internal/storage/vault/keyvault/pull.go
  internal/storage/vault/keyvault/push.go
  internal/storage/vault/keyvault/readme.md
  internal/storage/vault/keyvault/wiz.go
  internal/storage/vault/keyvault/wizard_tasks.go
  internal/storage/vault/localvault/local.go
  internal/storage/vault/localvault/local_test.go
  internal/storage/vault_template
  internal/vaults/registry.go
  internal/vaults/tools.go
  report2.md
Labels: Documentation, vault, cmd, go, test

add check to disable fork pr's and hardcode versions
  .github/workflows/dev-changelog-on-pr-open.yml
  .github/workflows/dev-dependabot-handler.yml
  .github/workflows/labeler.yml
  .github/workflows/shared/generate-changelog-file.yaml
Labels: ci

upd pinned checkout version
  .github/workflows/dev-dependabot-handler.yml
  .github/workflows/labeler.yml
  .github/workflows/shared/generate-changelog-file.yaml
Labels: ci

add: disable non-repo prs from running actions. upd:hardcode checkout version
  .github/workflows/dev-changelog-on-pr-open.yml
  .github/workflows/dev-dependabot-handler.yml
  .github/workflows/labeler.yml
  .github/workflows/shared/generate-changelog-file.yaml
Labels: ci

.github/labeler.yml:

# Label for changes in root configuration and metadata files
Configuration:
  - changed-files:
      - any-glob-to-any-file: ['.gitignore','go.mod','go.sum']

# Label for changes in documentation files
Documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**','**/*.md']

vault:
  - changed-files:
      - any-glob-to-any-file: ['internal/vaults/**']

cmd:
  - changed-files:
      - any-glob-to-any-file: ['cmd/**']

# Label for changes in source code
go:
  - changed-files:
      - any-glob-to-any-file: ['**/*.go']

#label for changes in vendor
vendor-changes:
  - changed-files:
      - any-glob-to-any-file: ['vendor/**']

# Label for specific tooling or scripts
tools:
  - changed-files:
      - any-glob-to-any-file: ['internal/tools/**']

# Label for test and assets related changes
test:
  - changed-files:
      - any-glob-to-any-file: ['**/*_test.go']
  
# Label for GitHub workflows and configuration
ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/**','.goreleaser.yaml']
