Repository WithHolm/polyenv, changes with the labels that .github/labeler.yml gives for each.
All labels: Configuration, Documentation, vault, cmd, go, vendor-changes, tools, test, ci

.github/labeler.yml:

# Label for changes in root configuration and metadata files
Configuration:
  - changed-files:
      - any-glob-to-any-file: ['.gitignore','go.mod','go.sum']

# Label for changes in documentation files
Documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**','**/*.md']

vault:
  - changed-files:
      - any-glob-to-any-file: ['internal/vaults/**']

cmd:
  - changed-files:
      - any-glob-to-any-file: ['cmd/**']

# Label for changes in source code
go:
  - changed-files:
      - any-glob-to-any-file: ['**/*.go']

#label for changes in vendor
vendor-changes:
  - changed-files:
      - any-glob-to-any-file: ['vendor/**']

# Label for specific tooling or scripts
tools:
  - changed-files:
      - any-glob-to-any-file: ['internal/tools/**']

# Label for test and assets related changes
test:
  - changed-files:
      - any-glob-to-any-file: ['**/*_test.go']
  
# Label for GitHub workflows and configuration
ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/**','.goreleaser.yaml']

upd
  .github/workflows/trash/test-tui.yaml
Labels: ci

rename
  .github/workflows/trash/test-tui.yml
Labels: ci

change dir and add jobs step
  .github/workflows/test-tui.yml
  .github/workflows/trash/test-tui.yml
Labels: ci

rm uneeded runson
  .github/workflows/test-tui.yml
Labels: ci

upd
  .github/workflows/test-tui.yml
  makefile
Labels: ci

rm build step from test
  .github/workflows/test-tui.yml
Labels: ci

upd with correct version
  .github/workflows/test-tui.yml
Labels: ci

testing non-interractive terminal check
  internal/tui/run.go
Labels: go

better messaging
  internal/tui/run.go
Labels: go

upd workflow paths
  .github/ISSUE_TEMPLATE/.env.prd
  .github/workflows/all-test-and-lint.yml
  .github/workflows/dev-changelog-on-dependabot-merge.yml
  .github/workflows/dev-changelog-on-pr-open.yml
  .github/workflows/dev-dependabot-handler.yml
  .github/workflows/dev-release.yml
  .github/workflows/main-create-cl-from-fragments.yml
  .github/workflows/main-release.yml
  .github/workflows/test-tui.yml
Labels: ci

update names of flows
  .github/workflows/all-test-and-lint.yml
  .github/workflows/dev-changelog-on-dependabot-merge.yml
  .github/workflows/dev-changelog-on-pr-open.yml
  .github/workflows/dev-release.yml
  .github/workflows/labeler.yml
  .github/workflows/main- changelog - create-cl-from-fragments.yml
Labels: ci

upd name
  .github/workflows/main-release.yml
Labels: ci

upd name
  .github/workflows/main-release.yml
Labels: ci

up main release
  .github/workflows/main-release.yml
Labels: ci

upd
  .github/workflows/main-release.yml
Labels: ci

upd logging
  .github/workflows/main-release.yml
Labels: ci

upd
  .github/workflows/main-release.yml
  go.mod
Labels: Configuration, ci

upd flow
  .github/workflows/main-release.yml
Labels: ci

add upload artifact
  .github/workflows/main-release.yml
Labels: ci

hotfix wrong things happening on options and env creator
  docs/development/styleguide.md
  internal/polyenvfile/options.go
  internal/polyenvfile/tui.go
  internal/tools/file.go
  styleguide.md
Labels: Documentation, go, tools

upd goreleaser and release yml
  .github/workflows/main-release.yml
  .goreleaser.yaml
Labels: ci

upd permission on release
  .github/workflows/main-release.yml
Labels: ci

upd generate changelong with release
  .github/workflows/dev-release.yml
  .github/workflows/main-release.yml
  .github/workflows/shared/collect-all-changelog.yml
  .goreleaser.yaml
Labels: ci

upd flow to use local action
  .github/actions/collect-changelog/action.yml
  .github/workflows/main-release.yml
Labels: ci

upd flow to pass dirty stat check
  .github/workflows/main-release.yml
Labels: ci

hotfix local vault
  docs/demos/add-vault.gif
  docs/demos/checksums.json
  docs/demos/init.gif
  internal/vaults/local/local.go
Labels: Documentation, vault, go

hotfix ask for dotenv secrets to gitignore
  .gitignore
  internal/polyenvfile/func.go
  internal/polyenvfile/tui.go
Labels: Configuration, go

up
  .github/workflows/main-release.yml
Labels: ci

upd main release
  .github/workflows/main-release.yml
  .goreleaser.yaml
Labels: ci

remove git push
  .github/workflows/main-release.yml
Labels: ci

hotfix pwsh emitted val instead of key
  internal/plugin/f_pwsh.go
Labels: go

rm default options and ots writer
  cmd/init.go
  internal/plugin/a_main.go
Labels: cmd, go

fix test framework and add license check on files
  .github/workflows/all-check-licence.yml
  .github/workflows/all-test-and-lint.yml
  LicenceHeader
Labels: ci

upd fix pipeline
  .github/workflows/all-check-licence.yml
  .github/workflows/all-test-and-lint.yml
  LicenseHeader
Labels: ci

fix path stuff
  .github/workflows/all-test-and-lint.yml
Labels: ci

upd flow
  .github/workflows/all-test-and-lint.yml
Labels: ci

upd
  .github/workflows/all-test-and-lint.yml
  cmd/init.go
Labels: cmd, go, ci

upd changelog thingy
  .github/workflows/dev-changelog-on-pr-open.yml
Labels: ci

upd
  .github/workflows/dev-changelog-on-pr-open.yml
Labels: ci

upd
  .github/workflows/dev-changelog-on-pr-open.yml
Labels: ci
